
body
	{
		background-color:#f8e2f2;
	}
hr
	{
		border-color: #87216a;
		border-style: none none dotted;
		border-width: 6px;
		width: 5%;
			
	}
h1
	{
		color: #87216a;
		text-align: center;
	}
p
	{
		color: #a82984;
	}
h3
	{
		text-align: center;
		color: #87216a;
	}
h2
	{
		text-align: center;
		color: #87216a;
	}
li
	{
		color: #a82984;
	}
td
	{
		color: #a82984;
	}
img:hover
{
	background-color: black;
}
img
{
	border-radius: 300%;
	width: 200px;
	height: auto;

}
#summ
{
	width: 5%;
	height: auto;
}